@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    @apply bg-white dark:bg-black text-black dark:text-white text-center;
  }

  :root {
    --background: #0C0C05;
    --foreground: #0F1119;
    --card: #141C27;
    --card-foreground: #252730;
    --popover: #2B3550;
    --popover-foreground: #2E3444;
    --primary: #3F526E;
    --primary-foreground: #4E6283;
    --secondary: #60718A;
    --secondary-foreground: #667FAF;
    --muted: #7185B4;
    --muted-foreground: #768ABA;
    --accent: #768ABA;
    --accent-foreground: #768ABA;
    --destructive: #768ABA;
    --destructive-foreground: #768ABA;
    --border: #768ABA;
    --input: #768ABA;
    --ring: #768ABA;
    --radius: 0.75rem;
  }

  .dark {
    --background: #0C0C05;
    --foreground: #0F1119;
    --card: #141C27;
    --card-foreground: #252730;
    --popover: #2B3550;
    --popover-foreground: #2E3444;
    --primary: #3F526E;
    --primary-foreground: #4E6283;
    --secondary: #60718A;
    --secondary-foreground: #667FAF;
    --muted: #7185B4;
    --muted-foreground: #768ABA;
    --accent: #768ABA;
    --accent-foreground: #768ABA;
    --destructive: #768ABA;
    --destructive-foreground: #768ABA;
    --border: #768ABA;
    --input: #768ABA;
    --ring: #768ABA;
  }


  .light {
    --background-light: #687E88;
    --foreground-light: #9DAZAA;
    --card-light: #BABBBA;
    --card-foreground-light: #DADECE;
    --popover-light: #E3D9CA;
    --popover-foreground-light: #E8DFCB;
    --primary-light: #EADFCC;
    --primary-foreground-light: #F4EBD7;
    --secondary-light: #FCF5E5;
    --secondary-foreground-light: #FDF2DF;
    --muted-light: #FEF3DC;
    --muted-foreground-light: #FFF6E5;
  }

  .cyberpunk {
    --highlight-1: #00F27E;
    --highlight-2: #013BDO;
    --highlight-3: #01A456;
    --highlight-4: #5E1814;
    --highlight-5: #611412;
    --highlight-6: #7D352F;
    --highlight-7: #8B48E1;
    --highlight-8: #AAFFFF;
    --highlight-9: #CBFF3F;
    --highlight-10: #F4EBD7;
    --highlight-11: #FDF2DF;
    --highlight-12: #FFF6E5;

  }
}